<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../css/food.css" rel="stylesheet" type="text/css">
        <title>卒研</title>
      </head>
      <body>
        <nav>
            <ul>
                <li><a href="top.html">トップ</a></li>
                <li><a href="hikaku.html">地図</a></li>
                <li><a href="syumireta.html">シュミレーター</a></li>
                <li><a href="kekkon.html">政策（結婚）</a></li>
                <li><a href="kosodate.html">政策（子育て）</a></li>
                <li><a href="kensaaku.html">マップ検索</a></li>
                <li><a href="shitsumon.html">よくある質問</a></li>
            </ul>
        </nav>

        <h2>キケンな食物</h2>

        <h3>1歳未満の乳児にはちみつはNG！</h3>
        <p>はちみつには、ボツリヌス菌（土壌に広く存在している細菌）が含まれています。
           大人の腸内では、ボツリヌス菌がほかの腸内細菌との競争に負けてしまうので、通常何も起こりません。
            一方、赤ちゃんの場合は腸内環境がまだ整っておらず、ボツリヌス菌が腸内で増えて毒素を出すため、
                ・便秘
                ・哺乳力の低下
                ・元気の消失
                ・鳴き声の変化
                ・首のすわりが悪くなる
           といった症状を引き起こすことがあります。
           ほとんどの場合、適切な治療により治癒（治る）しますが、最悪の場合、亡くなることがあります。
           ボツリヌス菌は熱に強いので加熱してもダメ！
           通常の加熱や調理では死なないため、「加熱したら大丈夫」と思っていたら危険！
        </p>
      </body>
</html>