<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
        <title>俺たちが作る...ってコト！？</title>
        <link href="../css/common.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="top.html">トップ</a></li>
                <li><a href="hikaku.html">地図</a></li>
                <li><a href="syumireta.html">シュミレーター</a></li>
                <li><a href="kekkon.html">政策（結婚）</a></li>
                <li><a href="kosodate.html">政策（子育て）</a></li>
                <li><a href="kensaaku.html.html">マップ検索</a></li>
                <li><a href="shitsumon.html">よくある質問</a></li>
            </ul>
        </nav>

        <div class="okayamacity">
            <input type="image" src="../okayama/okcolor.png">
        </div>
    </body>
</html>